<!-- src/app/auth/login/login.component.html -->

<app-basic-page  [pageId]="pageId">
  <div class="col-11 md:col-6 lg:col-5 xl:col-4 mx-auto" >
    <p-card header="Login">
      <form (submit)="onSubmit()" [formGroup]="loginForm">
        <div class="col-12 field mb-2">
          <label for="email">Email</label>
          <input pInputText  type="email" name="email" formControlName="email" class="w-full" />
        </div>
       
        <div class="col-12 field mb-2">
          <label for="password">Password</label>
          <input pInputText  type="password" name="password" formControlName="password" class="w-full"/>
        </div>
        <div class="col-12">
          <button type="submit" class="glossy-button glossy-button--blue w-full" ><span>Login</span></button>
        </div>
        <p class="text-center">
          If you dont have an account, you can register <a href="/signup">here</a>
        </p>
        @if(emailIsInvalid){
          <div class="col-12">
            <p class="control-error">Please enter a valid email address</p>
          </div>
        }
        @if(invalidLogin){
          <div class="col-12">
            <p class="control-error">Invalid credentials</p>
          </div>
        }
      </form>
    </p-card>
  </div>
 
</app-basic-page>
