<!-- src/app/auth/login/login.component.html -->

<app-basic-page>
  <div class="col-11 xl:col-3 lg:col-5 md:col-6 mx-auto">
    <p-card header="Login">
      <form (submit)="onSubmit()" [formGroup]="loginForm">
        <div class="col-12 field mb-2">
          <label for="email">Email</label>
          <input pInputText  type="email" name="email" formControlName="email" class="w-full" />
        </div>
       
        <div class="col-12 field mb-2">
          <label for="password">Password</label>
          <input pInputText  type="password" name="password" formControlName="password" class="w-full"/>
        </div>
        <div class="col-12">
          <button type="submit" pButton  pRipple ><span>Login</span></button>
        </div>
        @if(emailIsInvalid){
          <div class="col-12">
            <p class="control-error">Please enter a valid email address</p>
          </div>
        }
        @if(invalidLogin){
          <div class="col-12">
            <p class="control-error">Invalid credentials</p>
          </div>
        }
      </form>
    </p-card>
  </div>
 
</app-basic-page>
